*{
    margin:0;
    padding: 0;
}

/* VÄRITEEMA

Tumman sininen #114B5F

Raikkaampi sininen #456990

Vihreä #E4FDE1

Punainen #F45B69

Tumman punainen #6B2737

FONTIT

font-family: 'Gugi', cursive;
font-family: 'Josefin Sans', sans-serif;

*/

body {
    background-color: rgb(26, 25, 25);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

/*FONTIN KOOT*/
.display-4, .h1, h1 {
    font-size: 1.5em;
}

.h2, h2{
    font-size: 1.35em;
}

.h3, h3{
    font-size: 1.2em;
}

header {
    background-color: rgb(13, 113, 146);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #114B5F;
}

#header {
    text-shadow: 5px 6px 4px #131313;
    color: #ffffff;
    font-size: 3em;
    font-family: 'Gugi', cursive;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin-left: 1px;
}

p {
    color: #131313;
}

nav {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

a:hover { 
    text-decoration: underline;
    
}

ul, li {
    padding-left: 15px;
}

main {
    width: 100%;
}

#etusivu{
    display: inline-block;
    width: 100%;
}

.divit {
    background-color: #ffffff;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(13, 113, 146);
    border-bottom: 1px solid rgb(13, 113, 146);
    border-radius: 3px;
}

#referenssit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}

#kortit{
    padding-left: 55px;
}

#omaKuva{
    display: block;
    float: right;
    width: 20%;
    height: auto;
    border-radius: 5px;
}



footer {
    width: 100%;
}

#footer {
    clear: both;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {

    body {
        margin-left: 5%;
        width: 90%;
    }

    header {
        margin-top: 15px;
        border-radius: 5px 5px 15px 15px;
    }

    #referenssit {
        flex-direction: row;
    }


}